# Konversi Struktur Data

Fungsi untuk mengubah/konversi struktur data:

a.   `list()`: untuk mengubah menjadi list

b.   `tuple()`: untuk mengubah menjadi tuple 

c.   `set()`: untuk mengubah menjadi set

d.   `disct()`: untuk mengubah menjadi dictionary

## Mengkonversi tipe data list:

In [1]:
# Membuat 2 list
L1 = [1,2,3,4] 
L2 = [5,6,7,8]

In [2]:
# Mengkonversi struktu data list
k_tuple = tuple(L1)
k_set = set(L2)
k_dict = dict(zip(L1,L2))

# Melihat data yang telah dikonversi
print(k_tuple)
print(k_set)
print(k_dict)

(1, 2, 3, 4)
{8, 5, 6, 7}
{1: 5, 2: 6, 3: 7, 4: 8}

## Mengkonversi tipe data tuple:

In [3]:
# Membuat 2 tuple
T1 = (1,2,3,4) 
T2 = (5,6,7,8)

In [4]:
# Mengkonversi struktu data tuple
k_list = list(T1)
k_set = set(T2)
k_dict = dict(zip(T1,T2))

# Melihat data yang telah dikonversi
print(k_list)
print(k_set)
print(k_dict)

[1, 2, 3, 4]
{8, 5, 6, 7}
{1: 5, 2: 6, 3: 7, 4: 8}

## Mengkonversi tipe data set:

In [5]:
# Membuat 2 set
S1 = [1,2,3,4] 
S2 = [5,6,7,8]

In [6]:
# Mengkonversi struktu data set
k_list = list(S1)
k_tuple = tuple(S2)
k_dict = dict(zip(S1,S2))

# Melihat data yang telah dikonversi
print(k_list)
print(k_tuple)
print(k_dict)

[1, 2, 3, 4]
(5, 6, 7, 8)
{1: 5, 2: 6, 3: 7, 4: 8}

## Mengkonversi tipe data dictionary:

In [7]:
# Membuat dictionary
D = {
    "nama": "Andi",
     "alamat": "Yogyakarta",
     "umur": 20
}

In [8]:
# Mengkonversi struktu data dict
k_list = list(D.keys())
k_tuple = tuple(D.values())
k_set = set(D.keys())

# Melihat data yang telah dikonversi
print(k_list)
print(k_tuple)
print(k_set)

['nama', 'alamat', 'umur']
('Andi', 'Yogyakarta', 20)
{'alamat', 'nama', 'umur'}

## Latihan

In [9]:
# Lakukan konversi struktur data yang kalian buat pada notebook-notebook
# sebelumnya menjadi list, tuple, set, dan dictionary (masing-masing satu)

print("Konversi Tipe Data List")
shin = ["PSDS", "Python", 3.0, 2021, "7 Oktober", "M2P1V1", True]
L1 = [1, "dua", True, 2+3j, 2+3j]
k_tuple = tuple(shin)
k_set = set(shin)
k_dict = dict(zip(shin,L1))
print(k_tuple)
print(k_set)
print(k_dict)
print("-"*20)

print("Konversi Tipe Data Tuple")
shn2 = ("struktur data tuple","M2P1V3", 19.49, False)
T1 = (1, "dua", True, 2+3j, 2+3j)
k_list = list(shn2)
k_set = set(shn2)
k_dict = dict(zip(shn2,T1))
print(k_list)
print(k_set)
print(k_dict)
print("-"*20)

print("Konversi Tipe Data Set")
s = {"dua belas", "oktober", 2021, 1900015057, True, False, 2021}
S1 = {1, "dua", True, 2+3j, 2+3j}
k_list = list(s)
k_tuple = tuple(s)
k_dict = dict(zip(s,S1))
print(k_list)
print(k_tuple)
print(k_dict)
print("-"*20)

print("Konversi Tipe Data Dictionary")
Ds = {
    "Nama": "Shintia Yulita Sari", 
    1900015057: "NIM", 
    "Prodi": "Matematika", 
    2019: "Agkatan" 
}
k_list = list(Ds.keys())
k_tuple = tuple(Ds.values())
k_set = set(Ds.keys())
print(k_list)
print(k_tuple)
print(k_set)

Konversi Tipe Data List
('PSDS', 'Python', 3.0, 2021, '7 Oktober', 'M2P1V1', True)
{True, 'M2P1V1', 3.0, 2021, '7 Oktober', 'Python', 'PSDS'}
{'PSDS': 1, 'Python': 'dua', 3.0: True, 2021: (2+3j), '7 Oktober': (2+3j)}
--------------------
Konversi Tipe Data Tuple
['struktur data tuple', 'M2P1V3', 19.49, False]
{'M2P1V3', False, 'struktur data tuple', 19.49}
{'struktur data tuple': 1, 'M2P1V3': 'dua', 19.49: True, False: (2+3j)}
--------------------
Konversi Tipe Data Set
[False, True, 2021, 'dua belas', 'oktober', 1900015057]
(False, True, 2021, 'dua belas', 'oktober', 1900015057)
{False: 1, True: 'dua', 2021: (2+3j)}
--------------------
Konversi Tipe Data Dictionary
['Nama', 1900015057, 'Prodi', 2019]
('Shintia Yulita Sari', 'NIM', 'Matematika', 'Agkatan')
{1900015057, 'Prodi', 2019, 'Nama'}